@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

a {
    color: blue;
}

li :hover {
    color: cornflowerblue;
    font-weight: bold;
}

a:visited {
    color: blue;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 2vw;
    max-height: calc(100vh - 8vh);
    height: clamp(85vh, 93vh, 95vh);
    overflow: hidden;
}

.headshot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(10vw, 25vw, 40vw);
    text-align: center;
    min-height: 0;
}

.headshot img {
    margin-top: 1vh;
    justify-content: center;
    border-radius: 30px;
    height: 100%;
    max-height: 40vh;
    width: clamp(10vw, 21vw, 25vw);
    border: 5px solid lavender;
    object-fit: cover;
}

#header-text {
    font-size: 2.5vw;
    font-weight: bold;
}

.below-headshot {
    max-height: clamp(10vh, 40vh, 50vh);
    height: 100%;
}

.resume {
    padding-top: 1vh;
    padding-bottom: 0.5vh;
}

.resume p {
    margin: 0.5vh;
}

#socials {
    font-size: 2.5vw;
    font-weight: bold;
}

.socials-box {
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: clamp(10vh, 20vh, 30vh);
}

.social {
    flex: 33%;
    font-size: 1.5vw;
}

.rest {
    flex: 3;
    margin-left: 10px;
    display: flex;
    min-height: 0;
}

/* MOST PROUD OF SECTION */

.most-proud {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding-top: 5px;
    min-height: 0;
}

.proud-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    width: 100%;
    height: 10%;
}

.proud-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.proud-box {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    min-height: 0;
}

.proud-box img {
    margin-top: 1vh;
    max-width: 20vw;
    aspect-ratio: 4/3;
    border-radius: 30px;
}

.proud-box-title {
    font-weight: 900;
    text-decoration: underline;
    font-size: 2vw;
}

.proud-box-desc {
    font-style: italic;
    font-weight: 600;
    font-size: 1.25vw;
}

.proud-hover-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:aliceblue;
    border: 3px solid lightblue;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.25s;
    padding: 5px;
    width: 20vw;
    height: auto;
    right: 103%;
    border-radius: 5px;
    pointer-events: none;
    min-height: 0;
}

.proud-hover-box ul {
    margin: 0;
    margin-right: 1.5vw;
}

.proud-hover-box ul li {
    font-size: 1vw;
}

.proud-hover-box h6 {
    font-size: 2vw;
    margin: 0.2vw;
}

.proud-box a img {
    cursor: pointer;
}

.proud-box a:hover + .proud-hover-box {
    opacity: 1;
    z-index: 99;
}

.proud-box-title a:hover {
    color: lightblue;
}

.dulled {
    transition: filter 0.25s;
    filter: grayscale(85%);
}

/* BELOW MOST PROUD OF SECTION */

.below-proud {
    display: flex;
    flex: 3;
    flex-direction: row;
    height: 100%;
    min-height: 0;
}

/* OTHER WORKS */
.other-works {
    display: flex;
    flex-direction: row;
    width: 66%;
    flex-wrap: wrap;
    min-height: 0;
}

.other-works ul {
    max-height: 25vh;
}

.other-works li {
    width: 49%;
}

.other-works-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 3vw;
}

/* CLASSWORK */

.works-classwork {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 0;
}

.classwork-list {
    display: flex;
    flex-direction: column;
    height: auto;
}

.classwork-list li {
    width: 100%;
}

.classwork-list span {
    font-size: 1.5vw;
}

.classwork-list ul {
    margin: 0;
}

.works-classwork-title {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-weight: 900;
    text-decoration: underline;
}

.other-works li {
    font-size: 2.5vh;
    margin-top: 0.5vh;
}

/* PROJECTS */
.works-projects {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 0;
}

.personal-list {
    display: flex;
    flex-direction: column;
    height: auto;
}

.personal-list span {
    font-size: 1.5vw;
}


.works-projects-title {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-weight: 900;
    text-decoration: underline;
}

/* MY SKILLS */

.my-skills {
    display: flex;
    flex-direction: column;
    width: 34%;
    min-height: 0;
}

.my-skills ul {
    margin: 0;
}

.my-skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.my-skills-list {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.my-skills-list li {
    width: 50%;
    margin-top: .5vh;
    font-size: 1.5vw;
}


    /* WORKS HOVER BOXES */

.works-hover-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
    border: 3px solid lightblue;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.25s;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    width: 20vw;
    height: auto;
    right: 107%;
    top: -5vh;
    border-radius: 5px;
    pointer-events: none;
    font-style: italic;
    font-size: 1vw;
    min-height: 0;
}

.works-item {
    color: blue;
    position: relative;
}

.works-item:hover .works-hover-box {
    opacity: 100;
    z-index: 99;
}

    /* PROJECTS HOVER BOXES */

.projects-hover-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
    border: 3px solid lightblue;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.25s;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    width: 20vw;
    height: auto;
    right: 107%;
    top: -5vh;
    border-radius: 5px;
    pointer-events: none;
    font-style: italic;
    font-size: 1vw;
    min-height: 0;
}

.projects-item {
    color: blue;
    position: relative;
}

.projects-item:hover .projects-hover-box {
    opacity: 100;
    z-index: 99;
}