* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    margin: 10%;
    margin-top: 5%;
    border-radius: 30px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.headshot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.rest {
    flex: 3;
    margin-left: 10px;
}

#headshot {
    aspect-ratio: 1/1;
    border-radius: 30px;
    max-width: 300px;
    height: 100%;
    width: auto;
    border: 5px solid lavender;
    margin-left: 15px;
    margin-top: 15px;
}

#header-text {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

#socials {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

.socials-box {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: green;
}

.social {
    margin-top: 20px;
    font-size: 20px;
}

/* MOST PROUD OF SECTION */

.most-proud {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    height: 100%;
    background-color: green;
}

.proud-title {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    font-weight: bold;
    width: 100%;
    height: 10vh;
    background-color: grey;
}

.proud-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: blue;
    justify-content: space-around;
}

.proud-box {
    width: 33%;
    height: 100%;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.proud-box img {
    max-width: 4vw;
    aspect-ratio: 1/1;
}

.proud-box-title {
    font-weight: 900;
    font-size: 3vw;
}

.proud-box-desc {
    font-weight: 600;
    font-size: 1vw;
}