@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

a {
    color: blue;
}

li :hover {
    color: cornflowerblue;
    font-weight: bold;
}

li :hover ul {
    color: cornflowerblue;
}

a:visited {
    color: blue;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 2vw;
    max-height: calc(100vh - 8vh);
    height: clamp(85vh, 93vh, 95vh);
    overflow: visible;
}

.headshot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(10vw, 25vw, 40vw);
    text-align: center;
    min-height: 0;
}

.headshot img {
    margin-top: 1vh;
    justify-content: center;
    border-radius: 30px;
    height: 100%;
    max-height: 40vh;
    width: clamp(10vw, 21vw, 25vw);
    border: 5px solid lavender;
    object-fit: cover;
}

#header-text {
    font-size: 2.5vw;
    font-weight: bold;
}

#portfolio_text {
    font-size: 1.2vw;
}

.below-headshot {
    max-height: clamp(10vh, 40vh, 50vh);
    height: 100%;
}

.resume {
    padding-top: 1vh;
    padding-bottom: 3vh;
}

.resume p {
    margin: 0.5vh;
}

#socials {
    font-size: 2.5vw;
    font-weight: bold;
}

.socials-box {
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: clamp(10vh, 20vh, 30vh);
}

.social {
    flex: 33%;
    font-size: 1.5vw;
}

.rest {
    flex: 3;
    margin-left: 10px;
    display: flex;
    min-height: 0;
}

/* MOST PROUD OF SECTION */

.most-proud {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding-top: 5px;
    min-height: 0;
}

.proud-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    width: 100%;
    height: 10%;
}

.proud-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 3vh;
}

.proud-box {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    min-height: 0;
}

.proud-box img {
    margin-top: 1vh;
    max-width: 20vw;
    aspect-ratio: 4/3;
    border-radius: 30px;
    object-fit: cover;
}

.proud-box-title {
    font-weight: 900;
    text-decoration: underline;
    font-size: 2vw;
}

.proud-box-desc {
    font-style: italic;
    font-weight: 600;
    font-size: 1.25vw;
}

.proud-hover-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:aliceblue;
    border: 3px solid lightblue;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.25s;
    padding: 5px;
    width: 20vw;
    height: auto;
    right: 103%;
    border-radius: 5px;
    pointer-events: none;
    min-height: 0;
}

.proud-hover-box ul {
    margin: 0;
    margin-right: 1.5vw;
}

.proud-hover-box ul li {
    font-size: 1vw;
}

.proud-hover-box h6 {
    font-size: 2vw;
    margin: 0.2vw;
}

.proud-box a img {
    cursor: pointer;
}

.proud-box a:hover + .proud-hover-box {
    opacity: 1;
    z-index: 99;
}

.proud-box-title a:hover {
    color: rgb(115,194,251);
}

.dulled {
    transition: filter 0.25s;
    filter: grayscale(85%);
}

/* BELOW MOST PROUD OF SECTION */

.below-proud {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 0;
    margin-top: 2vh;
}

/* OTHER WORKS */
.other-works {
    display: flex;
    flex-direction: row;
    width: 66%;
    flex-wrap: wrap;
    min-height: 0;
}

.other-works ul {
    max-height: 25vh;
}

.other-works li {
    width: 49%;
}

.other-works-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 3vw;
}

/* CLASSWORK */

.works-classwork {
    display: flex;
    flex-direction: column;
    width: 55%;
    min-height: 0;
}

.classwork-list {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-right: 2vw;
    padding-left: -2vw;
}

.classwork-list li {
    width: 100%;
}

.classwork-list span {
    font-size: 2.5vh;
}

.classwork-list ul {
    margin: 0;
}

.works-classwork-title {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-weight: 600;
    text-decoration: underline;
}

.other-works li {
    font-size: 2.5vh;
    margin-top: 0.5vh;
}

/* PROJECTS */
.works-projects {
    display: flex;
    flex-direction: column;
    width: 45%;
    min-height: 0;
}

.personal-list {
    display: flex;
    flex-direction: column;
    height: auto;
}

.personal-list span {
    font-size: 2.5vh;
}

.personal-list li {
    width: 100%;
}

.works-projects-title {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-weight: 600;
    text-decoration: underline;
}

/* MY SKILLS */

.my-skills {
    display: flex;
    flex-direction: column;
    width: 34%;
    min-height: 0;
}

.my-skills ul {
    margin: 0;
}

.my-skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.my-skills-list {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.my-skills-list li {
    width: 50%;
    margin-top: .5vh;
    font-size: 1.5vw;
    color: darkblue;
}


    /* WORKS HOVER BOXES */

.works-hover-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
    border: 3px solid lightblue;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.25s;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    width: 20vw;
    height: auto;
    right: 107%;
    top: -5vh;
    border-radius: 5px;
    pointer-events: none;
    font-style: italic;
    font-size: 1vw;
    min-height: 0;
}

.works-item {
    color: dodgerblue;
    position: relative;
}

.works-item:hover .works-hover-box {
    opacity: 100;
    z-index: 99;
}

    /* PROJECTS HOVER BOXES */

.projects-hover-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
    border: 3px solid lightblue;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.25s;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    width: 20vw;
    height: auto;
    right: 107%;
    top: -5vh;
    border-radius: 5px;
    pointer-events: none;
    font-style: italic;
    font-size: 1vw;
    min-height: 0;
}

.projects-item {
    color: dodgerblue;
    position: relative;
}

.projects-item:hover .projects-hover-box {
    opacity: 100;
    z-index: 99;
}

 /* MOBILE CHANGES  */

@media (max-width: 1000px) {
    .main-body {
        max-height: none;
        height: auto;
        width: clamp(90vw, 95vw, 100vw);
        margin-top: 10vh;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .personal-list span {
        font-size: 2vw;
    }

    .classwork-list span {
        font-size: 2vw;
    }

    .classwork-list {
        padding-left: 2vh;
    }

    .personal-list {
        padding-left: 2vh;
    }

    .my-skills-list li {
        width: 100%;
        margin-top: 0;
        font-size: 1.5vh;
    }

    .works-classwork-title {
        font-size: 3vh;
        font-weight: 600;
        text-decoration: underline;
    }

    .headshot {
        flex-direction: row;
        width: 100%;
        min-height: 0;
    }

    .headshot img {
        height: 100%;
        max-height: 30vh;
        width: clamp(10vh, 25vh, 30vh);

    } 
        #header-text {
            font-size: 2.5vh;
            font-weight: bold;
    }

    #portfolio_text {
        font-size: 1.5vh;
    }

    #socials {
        font-size: 2.5vh;
    }

    .social {
        font-size: 2.5vh;
    }

    .proud-boxes {
        flex-direction: column;
        padding-bottom: 3vh;
    }

    html, body {
        overflow: visible;
    }

    .proud-box {
        width: 100%;
        height: 33%;
        padding-bottom: 1vh;
    }

    .proud-box img {
        margin-top: 1vh;
        max-width: none;
        max-height: clamp(15vh, 20vh, 40vh)
    }

    
    .proud-box-title {
        font-size: 3vh;
    }

    .proud-box-desc {
        font-size: 2vh;
    }

    .proud-title {
        font-size: 3vh;
    }

    .other-works {
        width: 60%;
    }

    .other-works-title {
        font-size: 3vh;
    }

    .classwork-list span {
        font-size: 2vh;
    }

    .personal-list span {
        font-size: 2vh;
    }

    .works-projects-title {
        font-size: 2.5vh;
        padding-left: 1vh;
    }

     .works-classwork-title {
        font-size: 2.5vh;
    }

    .my-skills-title {
        font-size: 3vh;
        text-align: center;
    }

    .my-skills-list li {
        font-size: 2.2vh;
        margin-top: 1.5vh;
    }

    .my-skills {
        display: flex;
        flex-direction: column;
        width: 30%;
        min-height: 0;
    }

    body {
        align-items: flex-start;
        padding-top: 5px;
        margin-bottom: 5vh;
    }

    .main-body {
        margin-top: 0;
        padding-bottom: 3vh;
    }

    .works-item:hover .works-hover-box {
        opacity: 0;
        z-index: 0;
    }

    .projects-item:hover .projects-hover-box {
        opacity: 0;
        z-index: 0;
    }

    .proud-box a:hover + .proud-hover-box {
        opacity: 0;
        z-index: 0;
    }

    ul {
        max-width: 100%;
    }

    li {
        max-width: 100%;
    }



}
/* 
.main-body {
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 2vw;
    max-height: calc(100vh - 8vh);
    height: clamp(85vh, 93vh, 95vh);
    overflow: visible;
} */