* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    margin: 10%;
    margin-top: 5%;
    border-radius: 30px;
    background-color: white;
}

.headshot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.rest {
    flex: 3;
    margin-left: 10px;
}

.most-proud {
    display: flex;
    flex-direction: row;
    max-height: 300px;
    height: 100%;
    background-color: green;
}

#headshot {
    aspect-ratio: 1;
    border-radius: 30px;
    max-height: 300px;
    height: 100%;
    width: auto;
    border: 5px solid lavender;
    margin-left: 15px;
    margin-top: 15px;
}

#header-text {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

#socials {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}