body {
    background-color: lightblue;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    margin: 10%;
    border-radius: 30px;
    background-color: white;
}

#headshot {
    border-radius: 30px;
    height: 30%;
    width: auto;
    border: 5px solid lavender;
}

.headshot {
    max-height: 30%;
    flex: 1;
}

#header-text {
    font-size: 40px;
    border: 5px solid red;

}